@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "IRANSansWebFANUM300";
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFANUM400";
    src: url("../_fonts/IRANSansWeb(FaNum).eot");
    src: url("../_fonts/IRANSansWeb(FaNum).eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum).woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum).woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum).ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFANUM500";
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFANUM700";
    src: url("../_fonts/IRANSansWeb(FaNum)_Black.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Black.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Black.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Black.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFANUM900";
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto600";
    src: url("../fonts/Roboto-VariableFont.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IbarraRealNova400";
    src: url("../fonts/IbarraRealNova-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: "IRANSansWebFANUM400";
  }
  
  h1 {
    font-size: 24px;
    font-family: "IRANSansWebFANUM700";
    line-height: 26px;
  }
  h2 {
    font-size: 20px;
    font-family: "IRANSansWebFANUM700";
    line-height: 26px;
  }
  h3 {
    font-size: 18px;
    font-family: "IRANSansWebFANUM500";
    line-height: 25px;
  }
  h4,
  h5 {
    font-size: 16px;
    font-family: "IRANSansWebFANUM400";
    line-height: 24px;
  }
  h6 {
    font-size: 14px;
    font-family: "IRANSansWebFANUM400";
    line-height: 22px;
  }
  a {
    font-size: 14px;
    font-family: "IRANSansWebFANUM300";
    line-height: 24px;

  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar {
    width: 2px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
 .Line-container .line::before {
    -webkit-animation: line 3s ease-in-out 2.5s forwards infinite;
    animation: line 3s ease-in-out 2.5s forwards infinite;
  }
  
@keyframes line{
    0% {
     margin-top: -47px
 }
 80% {
     margin-top: 0px
 }
 100% {
     margin-top: 100px
 }
}

:root{
    --homeText:#000000;
    --homeafter:#00A752;
    --homeSec2textBG:#1F1F1F;
    --white:#FFFFFF;
    --homeSec6text:#373435;
    --footer:#1F1F1F;
    --carPISec2:#C7C7C7;
    --productSec2:#8B8B8B;
    --productSec21:#EBEAEA;
    --article:#3C3C3C;
    --articlePost:#373435;
    --oboutus:#272727;
    --orange:#FE7D21;
    --contact:#DDDDDD;
    --contact1:#D60644;
    --footerp:#F8F7F7
    }
 /* mobile header*/
 /* #mobile-header{
    width: 100vw;
    min-height: 15vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 0;
      } */
      #mobile-header.disabled{
        display: none;
      }
      /* #mobile-header .left{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      } */
      /* #mobile-header .left .logo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
      } */
     /* #mobile-header .left .logo img{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        margin-left: 1.6rem;
      } */
     /* #mobile-header .right{
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: flex-end;
        align-items: center;
      } */
      /* #mobile-header .right .lang{
      width: auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      position: relative;
      } */
      /* #mobile-header .right .lang .langs{
        position: absolute;
        top: 70%;
        left: 10%;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        width: 70px;
        height: 70px;
        opacity: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
    }
    #mobile-header .right .lang .langs.openLang{
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    } */
      /* #mobile-header .right .lang .langs ul{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      } */
      /* #mobile-header .right .lang .langs ul li{
        width: 100%;
        height: 100%;
       display: flex;
       align-items: center;
       position: relative;
      } */
      /* #mobile-header .right .lang .langs ul li a{
        font-size: 16px;
        font-weight: 400;
        color: var(--homeText);
        width: 100%;
        height: 100%;
       display: flex;
       justify-content: flex-start;
       align-items: center;
       padding-left: 1vh;
    
      } */
      /* #mobile-header .right .lang .langs ul li a::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: .1vh;
        background-color: #373435;
        transition: all .8s ease;
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all .8s ease;
        -o-transition: all .8s ease;
    }
      #mobile-header .right .lang .langs ul li:hover a::before{
      width: 100%;
      } */
 
      #mobile-header .right .lang .langIcon span svg.rotate{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
      /* #mobile-header .right .lang .langIcon span{
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
      
      } */
      /* #mobile-header .right .mobile-menu{
     width: auto;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: .8rem;
      } */
      /* #mobile-header .right .mobile-menu .openNav{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        min-width: 50px;
        justify-content: center;
        align-items: center;
        z-index: 10;
        position: relative;
      } */
      /* #mobile-header .right .mobile-menu .openNav .toggle{
        width: 18px;
        height: 2px;
        transition: all .5s ease;
        background-color: #000000;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
    } */
    #mobile-header .right .mobile-menu .openNav .toggle:nth-child(1).active{
        transform-origin: -2px 5px;
    }
    /* #mobile-header .right .mobile-menu .openNav .toggle:nth-child(2).active{
        transform: rotate(-40deg);
        -webkit-transform: rotate(-40deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        -o-transform: rotate(-40deg);
    } */
    /* #mobile-header .right .mobile-menu .MB-menu{
        width: 0vw;
        visibility: hidden;
        height: 100vh;
        position: fixed;
        z-index:2;
        display: flex;
        align-items: center;
        left: 0;
        top: 0;
        background-color: var(--white);
        font-family: BebasNeue-Regular;
        transition: all .8s ease-in;
        -webkit-transition: all .8s ease-in;
        -moz-transition: all .8s ease-in;
        -ms-transition: all .8s ease-in;
        -o-transition: all .8s ease-in;
    } */
    /* #mobile-header .right .mobile-menu .MB-menu.open{
        width: 100vw;
        visibility: visible;
       
    } */
    /* #mobile-header .right .mobile-menu .MB-menu ul{
        display: flex;
        flex-direction: column;
        height: 75%;
        width: 100%;
        margin: 0;
     
        justify-content: flex-end;
    } */
    /* #mobile-header .right .mobile-menu .MB-menu .MB-item{
        width: 100%;
        height: 100%;
        padding: 0;
        margin-left: 2rem;
        opacity: 0;
        position: relative;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transition-delay: 1s;
        transition: all .8s ease-in-out;
        -webkit-transition: all .8s ease-in-out;
        -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
        -o-transition: all .8s ease-in-out;
    } */
    /* #mobile-header .right .mobile-menu .MB-menu .MB-item.active{
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        opacity: 1;
        transition: all .8s ease-in-out;
        -webkit-transition: all .8s ease-in-out;
        -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
        -o-transition: all .8s ease-in-out;
    } */
    /* #mobile-header .right .mobile-menu .MB-menu .MB-item a{
        font-size: 34px;
        font-weight: 400;
        line-height: 34px;
        color: var(--homeText);
        transform-origin:50px;
        text-transform: uppercase;
        display: flex;
        transition: all .5s cubic-bezier(0, 1.1, 1, 1.19);
        font-family: 'Bebas Neue';
        -webkit-transition: all .5s cubic-bezier(0, 1.1, 1, 1.19);
        -moz-transition: all .5s cubic-bezier(0, 1.1, 1, 1.19);
        -ms-transition: all .5s cubic-bezier(0, 1.1, 1, 1.19);
        -o-transition: all .5s cubic-bezier(0, 1.1, 1, 1.19);
    } */
    /* #mobile-header .right .mobile-menu .MB-menu .MB-item a span:nth-child(1){
        width: 0%;
        height: 1px;
        display: flex;
        position: relative;
        left: -1%;
        background-color: #000000;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transform: translateY(28px);
        transition: all .5s cubic-bezier(0, 1.1, 1, 1.19) ;
        -webkit-transition: all .5s cubic-bezier(0, 1.1, 1, 1.19) ;
        -moz-transition: all .5s cubic-bezier(0, 1.1, 1, 1.19) ;
        -ms-transition: all .5s cubic-bezier(0, 1.1, 1, 1.19) ;
        -o-transition: all .5s cubic-bezier(0, 1.1, 1, 1.19) ;
    } */
    #mobile-header .right .mobile-menu .MB-menu .MB-item a:hover{
        /* color: var(--productSec2); */
    }
    /* #mobile-header .right .mobile-menu .MB-menu .MB-item a:hover span:nth-child(1){
        width: 30%;
    } */











main.Home-mobile .Aboutus.bg{
background-repeat: no-repeat;
background-size: cover;
}

.product,
.project{
    transition: all .7s ease
}
.product .Text p,
.blog .Text p{
    text-align: justify;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.project img{
    transition: all 1000ms ease-in-out;
}
main.ProjectShow-mobile .swiper-slide,
main.ProductShow-mobile .swiper-slide{
    width: fit-content !important;
}
main.ProjectShow-mobile .swiper-button-prev:after,main.ProjectShow-mobile .swiper-rtl .swiper-button-next:after,
main.ProductShow-mobile .swiper-button-prev:after,main.ProductShow-mobile .swiper-rtl .swiper-button-next:after  {
    color: #373737;
    font-size: 24px;
}
main.ProductCat-mobile .swiper-pagination-bullet {
    width: 18px !important;
    height: 18px !important;
    background-color: #00A752;
    border-radius: 29px;
}
main.ProductCat-mobile .swiper-button-prev:after,main.ProductCat-mobile .swiper-rtl .swiper-button-next:after {
    color: #ffff;
    font-size: 34px;
}
.blog{
  box-shadow: -1px 3px 7px 0px rgba(199, 199, 199, 1);
  padding-bottom: 1em;
  transition: all .5s ease;
  justify-content: space-between;
  -webkit-transition: all .5s ease;
  
}
.blog .Title,
.blog .Text {
padding: 0 1em;
}
.blog:hover {
  transform: translateY(-3%);
  -webkit-transform: translateY(-3%);
  -moz-transform: translateY(-3%);
  -ms-transform: translateY(-3%);
  -o-transform: translateY(-3%);
}
 
.ProjectShow-mobile .swiper-pagination-progressbar{
background-color: #000000;
}
.ProjectShow-mobile .swiper-pagination-progressbar-fill,
main.ProductShow-mobile .swiper-scrollbar-drag {
  background-color:#00A752 !important;
}
.ProjectShow-mobile .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    left: unset !important;
    right: 0;
}
main.ProductCat2-mobile .proCat,
main.ProductList-mobile .banner {
  background-repeat: no-repeat;
  background-size: cover;
}


.w-90p{
max-width: 1400px;
}
.Home-mobile .section-2 .text p{
font-size: 11px;
font-weight: 300;
line-height: 16.5px;
font-family: "IRANSansWebFANUM300";
color: #FFFFFF;
text-align: justify;
}
.ArticleShow-mobile  .text-C p,
.ArticleShow-mobile .text-I p{
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  font-family: "IRANSansWebFANUM400";
  color:#000000;
  text-align: justify;
}
.AboutUs-mobile .section-2 .Text p{
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  font-family: "IRANSansWebFANUM400";
  color: #000000;
  text-align: justify;
  }
  .AboutUs-mobile .section-3 .Text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 23.44px;
    font-family: "IRANSansWebFANUM400";
    color: #FFFFFF;
    text-align: justify;
    }
    .AboutUs-mobile .section-5 .Text p{
      font-size: 14px;
      font-weight: 400;
      line-height: 23.44px;
      font-family: "IRANSansWebFANUM400";
      color: #000000;
      text-align: justify;
      }
.SelectBoxes .select_ul{
  box-shadow: -6px 5px 12.1px 0px #A5A5A540;

}

      .SelectBoxes .select_wrap.active .default_option:before {
        transform: rotate(-180deg);
      }
      .SelectBoxes .select_wrap .option {
        display: flex;
        align-items: center;
      }
      .SelectBoxes .select_wrap .option p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.91px;
        color: black;
      }
      .SelectBoxes .select_wrap .option .icon {
        background: url("https://i.imgur.com/oEZu0sK.png") no-repeat 0 0;
        width: 32px;
        height: 32px;
        margin-right: 15px;
      }
      
      .SelectBoxes .select_wrap .select_ul li:first-child:hover {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .SelectBoxes .select_wrap .select_ul li:last-child:hover {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      
      .SelectBoxes .default_option::before {
        width: 8px;
        height: 8px;
        border-top: solid 8px #000000;
        border-left: solid 8px transparent;
        border-right: solid 8px transparent;
        transition: all .3s ease;
      }
      .SelectBoxes .default_option.topsec::before{
        top: 29px;
      } 