@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "IRANSansWebFANUM300";
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFANUM400";
    src: url("../_fonts/IRANSansWeb(FaNum).eot");
    src: url("../_fonts/IRANSansWeb(FaNum).eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum).woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum).woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum).ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFANUM500";
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFANUM700";
    src: url("../_fonts/IRANSansWeb(FaNum)_Black.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Black.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Black.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Black.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWebFANUM900";
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IbarraRealNova400";
    src: url("../fonts/IbarraRealNova-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  * {
    font-family: "IRANSansWebFANUM400";
  }
  
  h1 {
    font-size: 24px;
    font-family: "IRANSansWebFANUM700";
    line-height: 26px;
  }
  h2 {
    font-size: 20px;
    font-family: "IRANSansWebFANUM700";
    line-height: 26px;
  }
  h3 {
    font-size: 18px;
    font-family: "IRANSansWebFANUM500";
    line-height: 25px;
  }
  h4,
  h5 {
    font-size: 16px;
    font-family: "IRANSansWebFANUM400";
    line-height: 24px;
  }
  h6 {
    font-size: 14px;
    font-family: "IRANSansWebFANUM400";
    line-height: 22px;
  }
  a {
    font-size: 14px;
    font-family: "IRANSansWebFANUM300";
    line-height: 24px;

  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar {
    width: 2px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
 .Line-container .line::before {
    -webkit-animation: line 3s ease-in-out 2.5s forwards infinite;
    animation: line 3s ease-in-out 2.5s forwards infinite;
  }
  
@keyframes line{
    0% {
     margin-top: -47px
 }
 80% {
     margin-top: 0px
 }
 100% {
     margin-top: 100px
 }
}
main.Home .Aboutus.bg{
background-repeat: no-repeat;
background-size: cover;
}

.product,
.project{
    transition: all .7s ease
}
.product .Text p,
.blog .Text p{
    text-align: justify;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.project img{
    transition: all 1000ms ease-in-out;
}
main.ProjectShow .swiper-slide,
main.ProductShow .swiper-slide{
    width: fit-content !important;
}
main.ProjectShow .swiper-button-prev:after,main.ProjectShow .swiper-rtl .swiper-button-next:after,
main.ProductShow .swiper-button-prev:after,main.ProductShow .swiper-rtl .swiper-button-next:after  {
    color: #373737;
    font-size: 24px;
}
main.ProductCat-C .swiper-pagination-bullet {
    width: 18px !important;
    height: 18px !important;
    background-color: #00A752;
    border-radius: 29px;
}
main.ProductCat-C .swiper-button-prev:after,main.ProductCat-C .swiper-rtl .swiper-button-next:after {
    color: #ffff;
    font-size: 34px;
}
.blog{
  box-shadow: -1px 3px 7px 0px rgba(199, 199, 199, 1);
  padding-bottom: 1em;
  transition: all .5s ease;
  justify-content: space-between;
  -webkit-transition: all .5s ease;
  
}
.blog .Title,
.blog .Text {
padding: 0 1em;
}
.blog:hover {
  transform: translateY(-3%);
  -webkit-transform: translateY(-3%);
  -moz-transform: translateY(-3%);
  -ms-transform: translateY(-3%);
  -o-transform: translateY(-3%);
}
 .sideMenu{
  overflow: hidden;
  list-style-type: none;
  top: 0;
  left: 0;
  pointer-events:all;
}
 .sideMenu.sticky .menu__active{
  width: 27px;
}
 .sideMenu ul.menu__list{
gap: 10px;
position: relative;
}
 .sideMenu ul.menu__list li.menu__item{
list-style-type: none;
transition: color .8s ease 0s;
-webkit-transition: color .8s ease 0s;
-moz-transition: color .8s ease 0s;
-ms-transition: color .8s ease 0s;
-o-transition: color .8s ease 0s;
}
.sideMenu ul.menu__list li.menu__item a{
  transition: color .8s ease 0s;
-webkit-transition: color .8s ease 0s;
-moz-transition: color .8s ease 0s;
-ms-transition: color .8s ease 0s;
-o-transition: color .8s ease 0s;

}
 .sideMenu .menu__active{
  position: absolute;
  top: 9px;
 /* left: 0; */
  width: 40px !important;
  background-color:#00A752;
  height: 4px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all .8s ease 0s;
  -webkit-transition: all .8s ease 0s;
  -moz-transition: all .8s ease 0s;
  -ms-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transform-origin: center;
}

.swiper-scrollbar-drag{
  background-color:#00A752 !important;
}
main.ProductCat2-C .proCat,
main.ProductList-C .banner {
  background-repeat: no-repeat;
  background-size: cover;
}


.w-90p{
max-width: 1400px;
}
.Home .section-2 .text p{
font-size: 12px;
font-weight: 300;
line-height: 24.96px;
font-family: "IRANSansWebFANUM300";
color: #FFFFFF;
text-align: justify;
}
.ArticleShow  .text-C p,
.ArticleShow .text-I p{
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
  font-family: "IRANSansWebFANUM300";
  color:#000000;
  text-align: justify;
}
.AboutUs-C .section-2 .Text p{
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  font-family: "IRANSansWebFANUM400";
  color: #000000;
  text-align: justify;
  }
  .AboutUs-C .section-3 .Text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 26.78px;
    font-family: "IRANSansWebFANUM400";
    color: #FFFFFF;
    text-align: justify;
    }
    .AboutUs-C .section-5 .Text p{
      font-size: 14px;
      font-weight: 400;
      line-height: 26.78px;
      font-family: "IRANSansWebFANUM400";
      color: #000000;
      text-align: justify;
      }